.TextArea{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

.area-lab{
    font-size: 23px;
    padding-left: 0.2rem;
}

.area-inp{
    height: 140px;
    padding: 1rem;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background-color: #E6E6FA;
}